<section id="accessory">
  <h1>The essential accessory</h1>
  <p>Along with the mouse, the keyboard is the second way to communicate with your computer</p>
  <a [routerLink]="['/category/3']" class="btn-white">Discover</a>
</section>
<section id="bestsellers">
  <h2>Our best sellers</h2>
  <p>Hurry up, limited stock available!</p>
  <div class="list-products">
    <div class="mini-product" *ngFor="let product of bestProducts">
      <a [routerLink]="['/product', product.id]">
        <img [src]="product.image" [alt]="product.name">
        <div class="mini-product-infos">
          <h3><span>{{ product.name }}</span> <span>{{ product.price|number:'1.2-2':'en-US' }} $</span></h3>
          <p>{{ product.shortDescription }}</p>
        </div>
      </a>
    </div>
  </div>
</section>
<section id="categories">
  <h2>Categories by product</h2>
  <p>Hurry up, limited stock available!</p>

  <div class="categories-list">
    <div id="category-screens"><a [routerLink]="['/category/2']"><h3>Computer screens</h3></a></div>
    <div id="category-computers"><a [routerLink]="['/category/1']"><h3>Computers</h3></a></div>
    <div id="category-accessories"><a [routerLink]="['/category/3']"><h3>Mice & keyboards</h3></a></div>
  </div>
</section>
<section id="promise">
  <h2>Our promise</h2>
  <div class="promise-list">
    <div class="promise">
      <img src="assets/best.png" alt="Best available offer">
      <h3>Best available offer</h3>
      <p>A selection of products at the right price</p>
    </div>
    <div class="promise">
      <img src="assets/respect.png" alt="Quality guaranteed">
      <h3>Quality guaranteed</h3>
      <p>Our suppliers respect our standards</p>
    </div>
    <div class="promise">
      <img src="assets/secured.png" alt="Secure payment">
      <h3>Secure payment</h3>
      <p>By credit card, Paypal and bank transfer</p>
    </div>
    <div class="promise">
      <img src="assets/delivery.png" alt="24h delivery">
      <h3>24h delivery</h3>
      <p>In the USA and worldwide</p>
    </div>
  </div>
</section>
<section id="suggestions">
  <h2>Our suggestions for you</h2>
  <p>Enjoy exclusive products only available on TECH&BUY</p>
  <div class="list-products">
    <div class="mini-product" *ngFor="let product of suggestedProducts">
      <a [routerLink]="['/product', product.id]">
        <img [src]="product.image" [alt]="product.name">
        <div class="mini-product-infos">
          <h3><span>{{ product.name }}</span> <span>{{ product.price|number:'1.2-2':'en-US' }} $</span></h3>
          <p>{{ product.shortDescription }}</p>
        </div>
      </a>
    </div>
  </div>
</section>
<section id="brands">
  <h2>Our partner brands</h2>
  <div class="brand-list">
    <img src="assets/samsung.png" alt="Samsung">
    <img src="assets/sony.png" alt="Sony">
    <img src="assets/acer.png" alt="Acer">
    <img src="assets/microsoft.png" alt="Microsoft">
  </div>
</section>
