<div id="cart">
  <section id="cart-container">
    <h2>Your cart</h2>
    <div id="cart-content">
      <div class="cart-line" *ngFor="let product of products">
        <img [src]="product.image" [alt]="product.name" />
        <p>{{ product.name }}<br>Reference: {{ product.reference }}</p>
        <input type="number" [value]="product.quantity" />
        <button (click)="removeProduct(product)">Remove</button>
      </div>
      <div class="cart-line" *ngIf="products.length === 0">
        <p>Your cart is empty. :(</p>
      </div>
    </div>
  </section>
  <section id="cart-total" *ngIf="products.length > 0">
    <h2>Summary</h2>
    <div class="total-cart-part">
      <p><span>{{ getNbProducts() }} item{{ getNbProducts() > 1 ? 's' : '' }}</span><span>{{ getTotal() | number:'1.2-2':'en-US' }} $</span></p>
      <p><span>Shipping</span><span>Free</span></p>
      <p><span>Service fee</span><span>$ 7.99</span></p>
      <hr />
      <p><strong>Cart total</strong><strong>{{ (getTotal() + 7.99) | number:'1.2-2':'en-US' }} $</strong></p>
      <button [routerLink]="['/order']">Place order</button>
    </div>
  </section>
</div>
<section id="more-products">
  <h2>See other products</h2>
  <div class="list-products">
    <div class="mini-product" *ngFor="let product of otherProducts">
      <a [routerLink]="['/product', product.id]">
        <img [src]="product.image" [alt]="product.name">
        <div class="mini-product-infos">
          <h3><span>{{ product.name }}</span> <span>{{ product.price|number:'1.2-2':'en-US' }} $</span></h3>
          <p>{{ product.shortDescription }}</p>
        </div>
      </a>
    </div>
  </div>
</section>
