<section id="product-infos">
  <div>
    <div class="product-slider">
      <div class="image-slider" #imgSlider>
        <img [src]="product.image" [alt]="product.name"/>
        <img [src]="product.image" [alt]="product.name"/>
        <img [src]="product.image" [alt]="product.name"/>
      </div>
      <div class="dots">
        <span [ngClass]="{'active-dot': imageToShow === 1}" (click)="goTo(1)"></span>
        <span [ngClass]="{'active-dot': imageToShow === 2}" (click)="goTo(2)"></span>
        <span [ngClass]="{'active-dot': imageToShow === 3}" (click)="goTo(3)"></span>
      </div>
      <div class="arrow-left" (click)="prev()">‹</div>
      <div class="arrow-right" (click)="next()">›</div>
    </div>
    <div class="product-details">
      <h1>{{ product.name }}</h1>
      <p class="product-price">{{ product.price|number:'1.2-2':'en-US' }} $</p>
      <p class="mini-description"><span style="text-decoration: underline;">Reference: {{ product.reference }}</span><br>{{ product.shortDescription }}</p>
      <a href="#" class="product-description-link">See detailed description <img src="assets/see-more.png"
                                                                                      alt="See detailed description"/></a>
      <hr/>
      <div class="product-add">
        <button (click)="addToCart()">Add to cart</button>
      </div>
    </div>
  </div>
</section>
<section id="product-description">
  <h2>Description</h2>
  <div [innerHTML]="product.description">
  </div>
</section>
<section id="suggestions">
  <h2>Must-haves</h2>
  <div class="list-products">
    <div class="mini-product" *ngFor="let product of bestProducts">
      <a [routerLink]="['/product', product.id]">
        <img [src]="product.image" [alt]="product.name">
        <div class="mini-product-infos">
          <h3><span>{{ product.name }}</span> <span>{{ product.price|number:'1.2-2':'en-US' }} $</span></h3>
          <p>{{ product.shortDescription }}</p>
        </div>
      </a>
    </div>
  </div>
</section>
<section id="promise">
  <div class="promise-list">
    <div class="promise">
      <img src="assets/best.png" alt="Best available offer">
      <h3>Best available offer</h3>
      <p>A selection of products at the right price</p>
    </div>
    <div class="promise">
      <img src="assets/respect.png" alt="Quality guaranteed">
      <h3>Quality guaranteed</h3>
      <p>Our suppliers respect our standards</p>
    </div>
    <div class="promise">
      <img src="assets/secured.png" alt="Secure payment">
      <h3>Secure payment</h3>
      <p>By credit card, Paypal and bank transfer</p>
    </div>
    <div class="promise">
      <img src="assets/delivery.png" alt="24h delivery">
      <h3>24h delivery</h3>
      <p>In the USA and worldwide</p>
    </div>
  </div>
</section>
